<%inherit file="base.html"/>

<%block name="header">
    <!-- this is some header content -->
</%block>

<!-- this is the body content. -->

<h1>file upload</h1>
<script src="/static/jquery.js" type="text/javascript"></script>
<script src="/static/axuploader.js" type="text/javascript"></script>
<script src="/static/uploadform.js" type="text/javascript"></script>
<div class="prova"></div>
<input type="button" onclick="$('.prova').axuploader('disable')" value="asd" />
<input type="button" onclick="$('.prova').axuploader('enable')" value="ok" />
